.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-right: 20px;
}

.cart-container{
    background-color: rgb(240, 193, 139);
    height: 100%;
    padding: 20px;
    border-radius: 8px 0px 0px 8px;
    position: sticky;
    top: 0px;
}
.chose{
    border: 2px solid rgb(0, 255, 98);
    color: red;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}


@media screen and (max-width: 1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);  
    }
}

@media screen and (max-width: 576px) {

    .shop-container{
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }

    .products-container{
        grid-template-columns: repeat(1, 1fr);  
    }
}