.cart-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}
.delete{
    font-size: 15px;
    border: none;
    margin: 5px;
    border-radius: 10px;
}
.item-name{
    margin: 5px;

}
.cart-info img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}